page-location-view {

  .menuB{
    position: absolute;
    left:  87%;
    top: 7px;
    margin-right: 2px;
    background-color: transparent;
    border: none !important;
    background-repeat: no-repeat;
    box-shadow: none !important;
    border-color: rgba(0,0,0,0) !important;
    outline: none !important;
  }
}
